{% extends 'base.html' %}
{% block body_block %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags == 'error' %} alert alert-danger {% else %}alert-{{message.tags}}{% endif %}  alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
            {% endif %}
            <div class="form-outline mb-4">
              <label class="form-label" for="current_password">Current Password<span class="required-field">*</span></label>
              <input type="password" name="current_password" id="current_password" class="form-control form-control-lg"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="new_password">New Password<span class="required-field">*</span></label>
                <input type="password" name="new_password" id="new_password" class="form-control form-control-lg"/>
              </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="confirm_new_password">Confirm Password<span class="required-field">*</span></label>
              <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control form-control-lg"/>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}